@model BLL.Entities.Produit

@{
    ViewData["Title"] = "Produits";
}

<div>
    <h4>Détails du produit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Prod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Prod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cri_eco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cri_eco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Cat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Cat)
        </dd>
    </dl>
</div>

<form asp-controller="Panier" asp-action="Ajouter" method="post">
    <input type="hidden" name="produitId"/>
    <input type="submit" value="Ajouter au panier" />
</form>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Retour à la liste</a>
</div>
